*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header__________conteiner*/

#header_conteiner{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    background: #040405;
    border-bottom: 1px solid #003004;
}

#header_nav{
    display: flex;
    width: 1040px;
    height: 48px;
    justify-content: space-between;
    align-items: center;
}


ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.nav_list_style{
    color: #FFF;
    font-size: 16px;
}


#nav_button_style{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 16px;
    border-radius: 24px;
    background: #00FF1A;
    border: 0;
}


/* main___________conteiner */


#main_full_conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #040405;
    width: 100%;
    height: 3558px;
}


.welcome_text{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}



#mian_boxs{
    display: flex;
    max-width: 1040px;
    width: 100%;
    height: 3221px;
    background-color: #2d235e;
    flex-direction: column;
    gap: 112px;
}

#spanjbob_box{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    height: 358px;
    width: 100%;
}


#spanjbob_text{
    display: flex;
    flex-direction: column;
    width: 564px;
    gap: 16px;
}


.title_h1_style{
    color: #FFF;
    font-size: 72px;
}


.paragrap_style{
    color: #7A7A7A;
    font-size: 20px;
}


#button_box{
    display: flex;
    gap: 16px;
}


#first_button{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;
    gap: 10px;
    font-weight: 700;
    border-radius: 24px;
    border: 0;
    background: #00FF1A;
}


#last_button{
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid #00FF1A;
    color: #FFF;
    background: #040405;
    font-size: 16px;
    font-weight: 700;
}


#number_box{
    display: inline-flex;
    padding-top: 24px;
    align-items: flex-start;
    gap: 40px;
    border-top: 1px solid #00FF1A;
}

.number_box_style{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.number_title{
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
}

.number_span{
    color: #7A7A7A;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}



#frog_img{
    width: 451px;
    height: 475px;
}



#frog_box{
    display: flex;
    width: 100%;
    gap: 22px;
    height: 475px;
    background-color: aqua;
}


#frog_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.circle_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.circle_text{
    display: flex;
    flex-direction: column;
}

.green_circle_text{
    display: flex;
    gap: 16px;
}


.frog_title{
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
}

.frof_span{
    color: #7A7A7A;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; 
}

#works_conteiner{
    display: flex;
    width: 1040px;
    height: 357px;
    background-color: burlywood;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

#register_img_box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 213px;
}

#register_text_box{
    margin-top: 37px;
    display: flex;
}


.register_text_style{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 245px;
    gap: 12px;
    flex: 1 0 0;
}

.register_title{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}

.register_span{
    color: #7A7A7A;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}


#frog_box_srv{
    display: flex;
    width: 100%;
    height: 643px;
    align-items: flex-start;
    gap: 22px;
    background-color: cornflowerblue;
}

#stv_text_box{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#border_left{
    border-left: 2px solid #00FF1A;
}

#deposit_boxes{
    display: flex;
    height: 111px;
    padding: 0px 16px 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.boxes_padding{
    padding: 0px 16px 24px 16px;
}


.deposit_title{
    color: #FFF;
    font-size: 24px;
    font-weight: 900;
}


.deposit_pp{
    color: #7A7A7A;
    font-size: 16px;
    font-weight: 500;
}